name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Build da Imagem Docker
      uses: docker/build-push-action@v5
      with:
        # Aqui está o segredo: indica onde o Docker deve olhar
        context: ./ellis-main 
        file: ./ellis-main/Dockerfile
        push: false
        tags: my-fastapi-app:latest